@import "tailwindcss";
body
{
  background: linear-gradient(135deg, #dbeafe, #e9d5ff);

}
h1
{
  padding:10px 20px;
}
h1
{
  color:red;
}
.key
{
  font-size:20px;
  font-weight:600;
  cursor: pointer;
  border:2px solid black;
  border-radius:50%;
  height:60px;
  width:60px;
  display:flex;
  justify-content:center;
  align-items:center;
}
button
{
  background-color:#f1f5f9;
  color: #1e293b;
  transition: all ease-in 0.2s;
}
button:hover
{
  background-color: #e2e8f0;
}
.equal
{
   background-color: #2563eb;
  color: white;
}
.equal:hover
{
   background-color: #1d4ed8;
}
.operator {
    background-color: #3b82f6;
    color: white;
}

.operator:hover {
    background-color: #2563eb;
}