*
{
    margin:0;
    
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body
{
        color:#fff;
        background-color:#dadada;
        background-image:url(https://images.alphacoders.com/135/1354208.jpeg);
        background-size:cover;  /*imp*/
        background-position:center;
        background-repeat:no-repeat;
        background-attachment:fixed;  
}
.parent
{
    padding:30px 35px;
    flex-wrap: wrap;
    display: flex;
}
.profile
{
    width:100%;
    height:60px;
    line-height:60px;
    text-align:center;
    position: fixed;
    top:0;
    color:black;
    z-index:999;
    background: rgba(255, 255, 255, 0.80);    
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.card
{
    width:300px;
    max-width:100%;
    overflow:hidden;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(0px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
    padding:5px 20px;
    margin-top:10px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}
.card .top
{
    display:flex;
    justify-content: space-between;
    align-items:center;
}
.card .btn1
{
    height:30px;
    width:80px;
    border:none;
    border-radius:30px;
    color:white;
    white-space:nowrap;
    font-size:12px;
    background-color:rgb(4, 184, 4);
}
.imgmid
{
    justify-content:center;
    align-items:center;
    display:flex;
}
.middle img
{
    width:120px;
    height:120px;
    margin-top:-23px;
    border-radius:50%;
    object-fit:cover;
    border:2px solid #dadada;
    padding:2px;
}
.text h2
{
    text-align:center;
    margin:0px;
    font-weight:500;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.text p
{
    text-align:center;
    margin:0;
    font-size:11px;
    font-weight:400;
}   
.work 
{
    padding:10px 0px;
    display:flex;
    justify-content: space-between;
}
.work button
{

    border-radius:30px;
    cursor:pointer;
    border:1px solid #dadada;
    padding:4px 12px;
    background-color:#fff;
}
.work .plus
{
    color:#fff;
    border:1px solid rgb(82, 157, 219);
    background-color:rgb(82, 157, 219);
}
.bottom p
{
    font-size:12px;
    margin:0;
    text-align:center;
}
.bottom {
    width: calc(100% + 40px);
    margin-left:-20px;
    height:87px;
}

.bottom button {
    width:100%;
    border:none;
    height:50px;
    margin-top:10px;
    border-top:1px solid #4a4848;
    padding:10px 20px;
    background-color:#fff;
    color:black;
    cursor: pointer;
    transition:ease-in all 0.1s;
}
.bottom button:hover
{
    background-color:rgb(82, 157, 219);
    color:white;
}